body {
  font-family: Georgia, sans-serif;
  width: 100%;
}

p {
  color: #CFCDB4;
  margin-bottom: 20px;
}
header {
  height: 100px;
  position: absolute;
  width: 100%;
}
/*.title {
  padding: 15px 0;
}*/
.content {
  margin: 0 auto;
  padding: 20px 0;
  width: 75%;
}
.content::after {
  content: "";
  clear: both;
  display: table;
}
h1 {
  margin: 0;

}
h1 a {
  color: #CFCDB4;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 1.5px 2.598px 3px rgba(0,0,0,0.75);
}
h1 a:hover {
  color: #EA9F3E;
  text-decoration: none;
}

.box-logo > p > a, .box-menu a  {
  color: #AF9671;
  font-size: 18px;
}
.box-logo p {
  margin: 0;
}
.box-logo > p > a {
  font-size: 18px;
  font-style: italic;
  font-variant: normal;
  font-weight: 400;
  text-shadow: 1px 1.732px 2px rgba(0,0,0,0.75);
}
.box-menu {
  text-align: right;
  font-family: Arial, sans-serif;

}
.box-menu a {
  margin-left: 35px;
}

.image-hire {
  display: block;
}

.image-hire img {
  max-width: 100%;
  height: auto;
}

.main-container {
  background-image: url('image/main-bg-1.png');
  background-position: center;
  color: #eee8cd;
  padding-top: 80px;
}

h2 {
  color: #EA9F3E;
  font-size: 18px;
  margin-bottom: 25px;
}

.text-email a {
  color: #EA9F3E;
}

.box-main-content {
  background-image: url('image/dark-area.png');
  border-top: 1px solid #AF9671;
}

.content-box {
  margin-bottom: 30px;
}

.box-text {
  padding: 7px 0 0 5px;
  line-height: 10px;
}

.content-image {
  border: 1px solid #AF9671;
  padding: 5px;
}

.content-image a {
  display: block;
}

.content-image img {
  width: 100%;
}

.title-sub {
  margin: 5px 0;
}
.title-sub, .title-sub a {
  color: #AF9671;
  font-size: 14px;
  font-weight: 700;
}

.box-news-content {
  background-image: url('image/content-area-bg.png');
  border-top: 1px solid #AF9671;
}

.social-icon {
  display: block;
  max-width: 40%;
}

.social-icon a {
  color: #CFCDB4;
  display: inline-block;
  padding: 0;
  text-align: inherit;
}

.btn-social-icon>:first-child {
    padding: 6px 0;
    line-height: 45px;
    width: 40px;
    font-size: 2em;
}

.title-service::before {
  content: "";
  background-image: url('image/icon/palette-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.title-tweet::before {
  content: "";
  background-image: url('image/icon/twitter-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.title-contact::before {
  content: "";
  background-image: url('image/icon/mail-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

/*.link-twitter::before {
  content: "";
  background-image: url('image/icon/small-twitter-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;

}

.link-deliciou::before {
  content: "";
  background-image: url('image/icon/small-delicious-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.link-flickr::before {
  content: "";
  background-image: url('image/icon/small-flickr-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}*/

.return-top {
  margin: 15px 0;
}

.return-top a {
  color: #EA9F3E;
}

.return-top a:hover, .social-icon a:hover {
  color: #32CDE6;
  font-weight: 600;
}

footer {
  background-image: url('image/footer-bg.png');
  border-top: 1px solid #AF9671;
  height: 100px;
  line-height: 4;
}
